/.Atomizer.java._trace
/.Atomizer.xtendbin
/.HierarchyVisualizer.java._trace
/.HierarchyVisualizer.xtendbin
/.OOSEMVisualizer.java._trace
/.OOSEMVisualizer.xtendbin
/.ObjectProcessor.java._trace
/.ObjectProcessor.xtendbin
/Atomizer.java
/HierarchyVisualizer.java
/OOSEMVisualizer.java
/ObjectProcessor.java
