/.DesignToIntegrationGenerator.java._trace
/.DesignToIntegrationGenerator.xtendbin
/.GeneratorUtils.java._trace
/.GeneratorUtils.xtendbin
/.SpecificationToDesignGenerator.java._trace
/.SpecificationToDesignGenerator.xtendbin
/DesignToIntegrationGenerator.java
/GeneratorUtils.java
/SpecificationToDesignGenerator.java
